* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}


body {
    height: 150vh;
}

section {
    background-color: lightblue;
    padding: 100px 0;
    color: #fff;
}

.accordion__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    background-color: lightcoral;
    padding: 20px;
    margin-bottom: 10px;
}

.plus {
    width: 30px;
    height: 30px;
}

.accordion__content {
    display: none;
}

.accordion__content p {
    padding: 10px 20px 20px;
}

.accodion__wrap.accordion__active .accordion__content {
    display: block;
}

.accodion__wrap.accordion__active .plus {
    rotate: 45deg;
}


/* .accordion__active {
    display: block;
}

.plus__active {
    rotate: 45deg;
} */